* {
  box-sizing:border-box;
}

h1 {
  font-size: 2em;
  display:inline-block;
}

p {
  background-color: #e8eeef;
  /* color: #8a97a0; */
  width: 120px;
  margin: auto;
  border-radius: 30px;
  padding: 2px 0 ;
  text-align: center;
}

.box{
  display: none;
  width: 100%;
}

a:hover + .box,.box:hover{
  display: inline;
  position: relative;
  z-index: 100;
}

.main-img {
  width: 101%;
  height: 300px; 
  margin-bottom: -10px;
}

.main-header {
  color: white;
  padding: 0 1.2em 1em 1.2em;
  margin-top:-1px;
  margin-bottom: 30px;
}

body {
  display: flex;
  line-height: 1.6;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;  
}

.container,
.intro{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.listTitle {
  margin-bottom: 0;  
}

span {
  margin-bottom: 10px;
}

a:hover {
  color: orange;
}

a:active {
  color: yellow;
}

a:visited {
  color: green;
}
.Alex-p {
  height: 100px;
  width: 100px;
}

.main-footer {
  background: #d9e4ea;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 50px;
  padding: 2em 0;
}

button {
  padding: auto;
  margin-top: 20px;
  margin-left: 50 px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

.content {
  flex: 1 50%;
}

.container {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* .three {
  max-width: 300px;
} */
/* Not Sure if I still need this style */

}

@media (min-width: 1025px) {

  .content{
    flex: 1 33%;
  }

  .one, .two,
  .three {
    align-self: center;
  }

}