* {
  box-sizing:border-box;
}

body {
  display: flex;
  line-height: 1.6;
  flex-direction: column;
  margin: 0;
}

.background {
  background: url(../Pictures/bg.png) fixed;
  opacity: .2;
}

.main-header {
  align-content: center;
  margin-top:-1px;
}

h1 {
  font-size: 2em;
  display:inline-block;
  padding-left: 10px;
}

.content {
  width: 200px;
  margin: 10px auto;
  padding-bottom: 5px;
  text-align: center;
}

.box{
  display: none;
  width: 100%;
}

a:hover + .box,.box:hover{
  display: inline;
  position: relative;
  z-index: 100;
}

.page_container {
  min-height: 100vh;  
  position: relative;
}

.container,
.intro{
  display: flex;
  flex-direction: column;
}

.intro {
  align-items: center;
}

.sticky + .content {
  padding-top: 60px;
}

.container {
  padding-bottom: 2.5em;
}

.intro {
  margin-top: -10px;
  margin-bottom: 20px;
}

.listTitle {
  margin-bottom: 0;  
}

span {
  margin-bottom: 10px;
  text-align: center;
}

.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5em;
  background: #d9e4ea;
  text-align: center;  
}

button {
  padding: auto;
  margin-top: 20px;
  margin-left: 50 px;
  background-color: #fbf201;
  color: #609ba8;
  border: 1px solid;
  box-shadow: 2.5px 5px;
}

caption {
  size: 2em;
  color: black;
  margin-bottom: 10px;
}

span {
  width: 95%
}

.character_temp,
.crop_temp,
.building_temp {
  margin-top: 10px;
  padding-top: 10px;
}

/* ================================= 
  Character Site Styles
==================================== */

.char-frame {
  display: block;
  margin-left: 3.125em;
}



/* ================================= 
  Navbar Styles
==================================== */

.navbar {
  overflow: hidden;
  background-color: #277A3E;
}

.navbar a {
  display: block;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin-top: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a:hover {
  background-color: #FC952B;
}

.active {
  background-color: rgba(0, 0, 0, 0.301);
}

/* ================================= 
  Picture Styles
==================================== */

.main-img {
  width: 100%;
  height: 300px; 
  margin-bottom: -10px;
}

.Alex-p {
  height: 100px;
  width: 100px;
  display: block;
  float: left;
}

.crop-p {
  width: 33%;
  height: 300px;
  float: left;
}

.crop-p2 {
  width: 33%;
  height: 300px;
  float: right;
}

.build-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 300px;
  background: url(../Pictures/buildings_pic/buildings_picture.png);
  background-repeat: round;
}

.icon {
  vertical-align: middle;
  width: 33px;
  height: 33px;
  padding-right: 3px;
}

/* ================================= 
  Form Styles
==================================== */
form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

.formClass {
  display: inline-block;
}

/* ================================= 
  Table Styles
==================================== */

table {
  border-collapse: collapse;
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  table-layout: fixed; 
}

td, 
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #3eff8b;
  color: white;
}

td:nth-child(1) {
  background-color: #3eff8b;
  color: white;
  font-weight: bold;
}

td {
  color: #293f14;
  text-align: center;
  flex-direction: column;
  padding-bottom: 1px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

  .content {
    flex: 1 50%;
  }

  .container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  select {
    margin: auto;
    padding: auto;
  }

}

@media (min-width: 1225px) {

    .content {
      flex: 1 33%;
    }

}